.first1 {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, #080304, #e7e6e1 90%);
}

.first2 {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.first2Water {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.first2Water section div:nth-child(2),
.first2Water section div:nth-child(3) {
  margin-top: 50px;
}

.first2Water > section > div {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.first2Water > section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.typingSec {
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%);
}

.fade1 {
  color: #ffffff;
  text-align: center;
  font-size: 5rem;
  opacity: 0;
  transition: all 2s;
}

.fade2 {
  color: #ffffff;
  text-align: center;
  font-size: 6rem;
  opacity: 0;
  transition: all 5s;
}

.active1 {
  opacity: 1;
}

.fadeUnderSpan {
  position: absolute;
  color: #ebafaf;
  top: 70%;
  left: 50%;
  font-weight: bold;
  font-size: 2rem;
  font-family: cursive;
  transform: translate(-50%, -50%);
}

.first3 {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.midScript1 {
  color: #ffffff;
  position: absolute;
  transition: all 1s;
  font-size: 2rem;
  left: -100%;
  top: 20%;
}

.active2 {
  left: 50%;
  transform: translateX(-50%);
}

.midScript2 {
  position: absolute;
  color: #ffffff;
  font-size: 2rem;
  right: -100%;
  transition: all 3s;
  top: 45%;
}

.active3 {
  right: 50%;
  transform: translateX(50%);
}

.scriptDiscrimination {
  width: 50px;
  height: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.last1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #080304, #e7e6e1 90%);
}

.last1 > span {
  margin-left: 10%;
  color: #8e8dec;
  font-weight: bold;
  font-size: 1.8rem;
}

.last1 > p {
  margin-left: 10%;
  color: #8e8dec;
  font-size: 1.2rem;
}

.imgDiv {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 10px 10px 99px black;
  background: url("https://cdn.pixabay.com/photo/2016/09/10/17/18/book-1659717_960_720.jpg");
}

.imgDiv > p {
  width: 100%;
  height: 100%;
  background: rgba(71, 71, 71, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgb(204, 209, 204);
}

.last2 {
  background-color: #e7e6e1;
  width: 100vw;
  height: 100vh;
  padding-top: 10%;
}

.selectSec {
  margin: auto;
  width: 80%;
  height: 70%;
  display: flex;
  border-radius: 10px;
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  box-shadow: 0px 0px 40px black;
}

.selectSec > div {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.selectSec > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.selectSec > p {
  font-weight: lighter;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.last3 {
  height: 100vh;
  width: 100vw;
  background-color: #e7e6e1;
}

.last3 > div:nth-child(1) {
  text-align: center;
  font-size: 2.3rem;
  color: grey;
  text-shadow: 5px 5px 5px rgb(170, 169, 169);
}

.last3 > div:nth-child(1) > strong {
  color: rgb(87, 85, 85);
}

.last3 > p {
  font-size: 1.4rem;
  text-align: center;
}
.last3 > div:last-child {
  font-size: 1.2rem;
  text-align: center;
}

.last3 > h1 {
  text-align: center;
}

.threeDot > div {
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
  width: 15px;
  height: 15px;
}

.dotActive {
  background-color: black;
}

.btnSec {
  text-align: center;
  margin-top: 10%;
}

.btnSec > button {
  position: relative;
  font-weight: bold;
  font-size: 1.1rem;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: none;
  border: 3px solid #ffffff;
  color: black;
}

.btnSec > button:first-child {
  margin-right: 30%;
  overflow: hidden;
  z-index: 0;
}

.btnSec > button:first-child::after {
  content: "";
  width: 100px;
  height: 100%;
  background-color: #ddcdb9;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
}

.btnSec > button:hover {
  color: #ffffff;
}

.btnSec > button:first-child:hover::after,
.btnSec > button:last-child:hover::after {
  top: 0;
}

.btnSec > button:last-child {
  background-color: #a7bcb9;
  overflow: hidden;
  z-index: 0;
}

.btnSec > button:last-child::after {
  content: "";
  width: 100px;
  height: 100%;
  background-color: #393e46;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
}
